# ----------------------
# Flask
# ----------------------
flask
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-OpenId
psycopg2
Flask-WTF

# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gunicorn
